.active-link {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: black;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out, color 0.3s ease-in-out;
}

.active-link:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
}
.nav{
  margin-top: 0px;
}